@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,900&display=swap');

/* The color was made in https://colorbox.io/, then import the color.json file in the site to see the colors */

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
:root {
  --container-max-height-mobile: 400px;
  --container-max-height-tablet: 580px;
  --container-max-height-desktop: 720px;
  font-size: 16px;
}
body {
  width: min(1500px, 100%);
  margin: auto;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  background-color: #202020;
}
h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}
/* Estilo de la barra de navegación */
nav ul {
  width: 100%;
  padding: 20px 50px 20px 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  margin-left: 1rem;
}
nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Estilo del header */
header {
  width: 100%;
  height: 90vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
h1 {
  color: red;
  margin-bottom: 20px;
  margin-left: 5px;
}
h1 + p {
  color: lightgrey;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
}
header ul {
  display: flex;
}
header ul li {
  padding: 5px 8px;
  border: 1px red solid;
  border-radius: 5px;
  margin-right: 8px;
}
header a {
  color: lightgray;
  font-size: 1.2rem;
  text-decoration: none;
}
