@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,900&display=swap');

/* The color was made in https://colorbox.io/, then import the color.json file in the site to see the colors */

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
:root {
  --container-height: 100vh;
  font-size: 16px;
}
body {
  width: min(1500px, 100%);
  margin: auto;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  background-color: #202020;
}
h1,
h2,
h3 {
  font-weight: bold;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: lightgray;
}
h3 {
  font-size: 1.4rem;
  color: lightgray;
}

/* Estilo de la barra de navegación */
nav {
  display: none;
}

/* Estilo del header */
header {
  width: 100%;
  height: var(--container-height);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
h1 {
  color: red;
  margin-bottom: 10px;
  margin-left: 5px;
}
h1 + p {
  color: lightgrey;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}
header ul {
  display: flex;
}
header ul li {
  padding: 5px 8px;
  border: 1px red solid;
  border-radius: 5px;
  margin-right: 8px;
}
header a {
  color: lightgray;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Estilo de la seccion 'sobre mi' */
section#yo {
  width: 100%;
  padding: 20px;
}
section#yo p {
  margin-bottom: 10px;
  line-height: 1.2rem;
  color: lightgray;
}
section#yo > .main p + h3 {
  margin-top: 15px;
}
section#yo ul {
  padding: 0.8rem;
  padding-right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
  color: lightgray;
}
section#yo ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.img-cont {
  width: max(600px, 300px);
}

/* Estilo de la sección de proyectos */
section#proyectos {
  max-width: 1150px;
  margin: auto;
  color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.proyecto-der,
.proyecto-izq {
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}
.proyecto-izq {
  text-align: right;
}
.proyecto-der .info,
.proyecto-izq .info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.proyecto-der .info > p,
.proyecto-izq .info > p {
  background-color: #383838;
  padding: 28px 30px;
}
.proyecto-der .info > ul,
.proyecto-izq .info > ul {
  display: flex;
  gap: 15px;
}
.proyecto-izq .info > ul {
  align-self: flex-end;
}
.proyecto-der .img,
.proyecto-izq .img {
  width: 500px;
  height: 375px;
}
.proyecto-der .img::after {
  content: '';
  display: block;
  background-color: lightgray;
  width: 575px;
  height: 375px;
  position: relative;
  right: 75px;
  z-index: -1;
}
.proyecto-izq .img::before {
  content: '';
  display: block;
  background-color: lightgray;
  width: 575px;
  height: 375px;
  position: relative;
  z-index: -1;
}

/* Estilo del pie de página */
footer {
  width: 100%;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer > .main {
  color: lightgray;
  font-size: 1.1rem;
  line-height: 1.2rem;
}
footer > .main button {
  color: lightgray;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
footer > .main button:hover {
  color: red;
}
.social {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.social > a {
  padding: 8px 10px;
  background-color: #383838;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social > a > img {
  margin-left: 10px;
}
.creditos {
  background-color: red;
  padding: 20px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 600;
  margin-top: auto;
}
.creditos a {
  color: lightgray;
  text-decoration: none;
}
.creditos a:hover {
  text-decoration: underline;
}

/* Estilo para dispositivos de escritorio */
@media screen and (min-width: 1048px) {
  :root {
    font-size: 18px;
    --container-height: 90vh;
  }
  h2 {
    font-size: 3rem;
  }

  /* Estilo de la barra de navegación */
  nav {
    display: block;
  }
  nav ul {
    width: 100%;
    padding: 20px 50px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul li {
    margin-left: 1rem;
  }
  nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .link-github {
    color: white;
    background-color: #383838;
    padding: 8px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* Estilo del header */
  header {
    padding: 50px;
  }
  h1 {
    font-size: 5.3rem;
    margin-bottom: 20px;
  }
  h1 + p {
    font-size: 2.8rem;
  }

  /* Estilo de la sección sobre mi */
  section#yo {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#yo ul {
    column-gap: 0;
  }
  section#yo > .main {
    width: 550px;
  }

  /* Estilo del footer */
  footer {
    max-width: 1150px;
    margin: auto;
    height: var(--container-height);
    padding: 0;
    justify-content: space-around;
  }
  footer > .main,
  footer > .main button {
    font-size: 1.2rem;
  }
  .social {
    flex-direction: row;
  }
  .creditos {
    align-self: flex-end;
    margin: 0;
  }
}
